<template>
  <div>
    <audio controls class="my-audio">
      <source />
    </audio>
    <div class="recorder-btn" @click="recording">
      {{ status === 'recording' ? '暂停' : '录音' }}
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
const status = ref<string>('stop')
const recorder = ref()
const chunks = ref<Blob | null>() // 保存音频数据
const recorderStream = ref<MediaStream | null>(null)

const recording = () => {
  if (status.value !== 'recording') {
    // 获取录音权限
    navigator.mediaDevices
      .getUserMedia({ audio: true })
      .then((stream) => {
        recorderStream.value = stream
        // 创建一个recorder容器
        recorder.value = new MediaRecorder(stream)
        // 开始录音
        recorder.value.start()
        status.value = 'recording'
        recorder.value.ondataavailable = (e: BlobEvent) => {
          chunks.value = new Blob([e.data], { type: 'audio/wav; codecs=opus' })
          playRecorder()
        }
      })
      .catch((err) => {
        console.log('用户禁止录音操作')
      })
  } else {
    // 停止录音
    recorder.value!.stop()
    // 释放录音资源
    recorderStream.value?.getTracks().forEach((track) => track.stop())
    status.value = 'stop'
  }
}

// 播放录音
const playRecorder = () => {
  const url = window.webkitURL.createObjectURL(chunks.value!)
  chunks.value = null
  document.querySelector('.my-audio')!.src = url
}
</script>

<style lang="less" scoped>
.recorder-btn {
  padding: 2px 20px;
  border: 1px #cfcfcf solid;
  cursor: pointer;
}
</style>
